body{
    background-color: beige ;
}


.caja{
    border: 1px solid rgb(70,69,69);
    background-color: white;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold; /* negrilla */
    width: 200px;
    line-height: 200px; /*centrar*/ 
    text-align: center; /* centra el texto */
    margin: 5px; /* margen externo de la caja*/
}

.flex-container{
    border:1px solid black;
    background: #ccc;
    padding: 20px; /* nargen interno */
    display: flex;
    flex-direction: row;
    flex-flow: row wrap; /* acomoda los items adaptandolos al espacio y bajandolos */
    /* justify-content: space-between;  modula el espacio horisontal entre cada item  manera responsive*/
    justify-content: center; /* modula el espacio horisontal entre cada item  manera responsive*/
   /*  align-items: center; posision de items de manera vertical de manera responsive*/
   /* align-content: center  centra los elementos segun el largo*/;
   align-content: space-around /* centra los elementos segun el largo*/;
   width:  80%;
   height: 600px;
   margin: 0 auto;

    /* flex-direction: column;  organiza los elementos de manera vertical */
   /* flex-direction: row-reverse;  de derecha a izqueirda */
}

.c1{
    background: lightblue;
    order: 1;
    flex-grow: 5; /* le da mas tamaño a este elemento*/
}

.c2{
    background: lightcoral;
    order: 2;
    flex-grow: 1;
}


.c2{
    background: lightgray;
    order: 3;
    flex-grow: 1;
}